Data/
Compiled/
Code/
Exams/Final/final_*
Exams/Final/final.*
Exams/Midterm/Past
Exams/Midterm/question_bank*
References/
R/
**/.DS_Store
**/.RData
**/.Rhistory
ProblemSets/*/*Solution*
ProblemSets/*/*solution*
index_files/
/.quarto/
**/archived/
Syllabus/attendance*
**/.texpadtmp/

