Data/
Compiled/
Code/
Exams/Final/Final.*
Exams/Midterm/Past.*
References/
R/
**/.DS_Store
**/.RData
**/.Rhistory
ProblemSets/*/*Solution*
ProblemSets/*/*solution*
index_files/
/.quarto/
**/archived/
Syllabus/attendance*

